# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Large Data zips & raw/clean duplicates
collections_30k_dataset.zip
raw_data/
CredResolve_Data_Analyst_Assignment_Submission.zip
submission/data/raw/
submission/data/clean/
submission/data/staging/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
